@model MyTutor.Models.ChangePassword
@{
    ViewData["Title"] = "Change Password";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<article class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center">Change Password</h4>
    <p class="text-center"></p>
    <p class="text-center" style="color:red;">@ViewBag.ErrorMsg</p>
    @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <div class="form-group input-group">
                @Html.PasswordFor(x => x.NewPassword, new { @placeholder = "New Password", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @Style = "color:red;" })
            </div>
            <div class="form-group input-group">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @Style = "color:red;" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
                <a href="@Url.Action("MyProfile","Profile")" class="btn btn-outline-primary">Cancel</a>
            </div>
        </div>
    }
</article>